/*Before/After Module stylesheet*/
 .image-before {
     cursor: pointer;
     padding: 14px;
}
 .image-after {
     cursor: pointer;
     padding: 14px;
}
 .before-after-button span:hover {
     background: #2BA9E0;
     color: #ffff;
}
 .before-after-button {
     margin-top: 19px;
     margin-bottom:15px;
}
 .before-after-button span.active {
     background: #2BA9E0;
     color: #ffff;
}
 